<div id="<%= answer.id %>" class="answers">
			<span class="upvote">^</span><h3><li><%= answer.body %></li></h3>
		</div>
		<% answer.responses.each do |response| %>
		<div id="<%= response.id %>" class="responses">
			<a href=""><span class="upvote">^</span></a><p><li><%= response.body %></li></p>
		</div>	
		<% end %>