<% if post.class == Question %>
  <% post_type = "questions" %>
<% else post.class == Answer%>
  <% post_type = "answers" %>
<% end %>

<div class="row">
  <div class="container">
    <div class="col s12 m6 offset-m3 l4 offset-l4">

      <form id="reply" action="/users/<%= session[:id].id %>/answers/<%= post.id %>/reply" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <label for="Comment">Comment</label>
            <input id="input_text" type="text" name="comment">
          </div>
        </div>
        <input type="submit" value="Comment" class="btn waves-effect waves-light light-green"></input>
      </form>
    </div>
  </div>
</div>
