  <h1>Latest Questions...</h1>

<ul class="collection question-list">
  <% @questions.each do |question| %>
  <div id="<%= question.id %>">
  <!-- route needs to be changed still -->
  <a href="/users/1/questions/<%= question.id %>"><li><%= question.title %></li></a>
  </div>
  <% end %>
</ul>