      <div id="<%= reply.id %>" class="replies">
        <a href="/users/<%= session[:id].id %>/replies/<%= reply.id %>/vote"><span class="upvote">^</span></a>
        <p><li><%= reply.body %></li></p>
      </div>
